@page "/calendar"
@rendermode InteractiveWebAssembly

<h3>Calendar</h3>

<Modal @ref="Modal"></Modal>

<button @onclick="() => Modal.Open()">Open Modal</button>

@code {
   Modal Modal { get; set; }
}

