@using psk_fitness.Client.Shared

@{
    var list = new List<string> { "Chest", "Back", "Calves" };
}


<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" @onclick="OnDeleteWorkout" class="btn btn-primary">
                    <span aria-hidden="true">&times;</span>
                    Delete workout
                </button>


            </div>
            <div class="modal-body">

                <label for="workoutTypeDropdown" class="form-label">Workout type:</label>
                <Dropdown id="workoutTypeDropdown" TItem="string" OnSelected="@OnSelected">
                    <InitialTip>This is a dropdown list</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="list[0]">Chest</DropdownListItem>
                        <DropdownListItem Item="list[1]">Back</DropdownListItem>
                        <div class="dropdown-divider"></div>
                        <DropdownListItem Item="list[2]">Calves</DropdownListItem>
                    </ChildContent>
                </Dropdown>

            </div>
            <div class="modal-footer">
                <button type="button" @onclick="OnSaveWorkout" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
            </div>
        </div>
    </div>
</div>



@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {


    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }

    public void OnDeleteWorkout()
    {
        Console.WriteLine("Delete");
    }

    public void OnSaveWorkout()
    {
        Console.WriteLine("Save");
    }

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}