<div class="@($"modal {(IsVisible ? "d-block" : "")}")" tabindex="-1" role="dialog" style="@($"background-color: rgba(0, 0, 0, {(IsVisible ? "0.5" : "0")});")">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a workout</h5>
                <button type="button" class="close" @onclick="Hide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Hide">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    public bool IsVisible { get; set; }

    public void Show()
    {
        Console.WriteLine("Show");
        IsVisible = true;
    }

    public void Hide()
    {
        IsVisible = false;
    }
}
