@page "/topics"
@rendermode InteractiveServer

<PageTitle>Topics</PageTitle>

<h3>Topics</h3>

<div class="d-flex flex-column">
    <div class="d-flex align-items-center">
        <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personal
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Personal</a></li>
                <li><a class="dropdown-item" href="#">Invited</a></li>
            </ul>
        </div>
        <CreateTopic/>
    </div>
</div>

@if (_topicsToDisplay != null) {
<div class="container mt-4">
    <div class="row">
        @foreach (TopicDisplayDTO topic in _topicsToDisplay)
        {
            <div class="col-md-4">
                <div class="card mb-4 text-center topic-card-size ratio ratio-1x1" style=@($"background-color: {topic.CssColor}")>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h1 class="card-title text-wrap card-title-adj">@topic.Title</h1>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}
else {
    <h1>Loading in progress</h1>
}

<style>
    .card-title-adj {
        max-width: 100%;
        word-wrap: break-word;
    }
</style>

@code {
    [Inject]
    public ITopicService TopicService {get; set;}
    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider {get; set;}
    private IEnumerable<TopicDisplayDTO> _topicsToDisplay;

    protected override async Task OnInitializedAsync(){
        await FetchUserTopicsAsync();
    }

    private async Task FetchUserTopicsAsync() {
        @* TODO: refetch when modal is closed *@
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userEmail = authState.User.Identity.Name;
        _topicsToDisplay = await TopicService.GetUserDisplayTopicsAsync(userEmail);
    }
}
