@page "/topics"
@rendermode InteractiveServer

<PageTitle>Topics</PageTitle>

<h3>Topics</h3>

<div class="d-flex flex-column">
    <div class="d-flex align-items-center">
        <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personal
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Personal</a></li>
                <li><a class="dropdown-item" href="#">Invited</a></li>
            </ul>
        </div>
        <CreateTopic @rendermode=InteractiveServer OnTopicCreated=@AddTopicToDisplay/>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        @foreach (TopicDisplayData topic in _topicsToDisplay)
        {
            <div class="col-md-4">
                <div class="card mb-4" style=@($"background-color: {topic.CssColor}; min-height: 10rem")>
                    <div class="card-body">
                        <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title text-center">@topic.Title</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    List<TopicDisplayData> _topicsToDisplay;

    protected override void OnInitialized(){
        _topicsToDisplay ??= new();
    }

    public void AddTopicToDisplay(TopicDisplayData topicToDisplay) {
        _topicsToDisplay.Add(topicToDisplay);
        Console.WriteLine("WOAAHAHHAH");
    }
}
