@page "/exercises"

<div class="d-flex align-items-center">
    <h3 class="me-3">Exercises:</h3> 
    <CreateExercise /> 
   
</div>

@foreach (var exercise in GetExercises())
{

}


@code {
    public List<Exercise> GetExercises()
    {

        List<Exercise> exercises = new List<Exercise>();



        return exercises;
    }
}
