@page "/exercises"
@using psk_fitness.Interfaces
@inject IExerciseRepository ExerciseRepository


<div class="d-flex align-items-center">
    <h3 class="me-3">Exercises:</h3> 
    <CreateExercise /> 
</div>

@if (exercises == null)
{
    <span>Loading...</span>
}
else if (exercises.Count == 0)
{
    <span>No exercises found.</span>
}
else
{
    @foreach (var exercise in exercises)
    {
        <li>@exercise.Title</li>
    }
}

@code {
    List<ExerciseDisplayDTO>? exercises = null;

    protected override async Task OnInitializedAsync()
    {
        exercises = await ExerciseRepository.GetAllExercisesAsync();
    }
}
