@page "/"
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using psk_fitness.Data
@using Microsoft.AspNetCore.Components.Authorization
@using psk_fitness.ClientServices
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TopicFriendService TopicFriendService


<PageTitle>Home</PageTitle>

<h1>Hello, @user?.UserName</h1>
@if (user != null)
{
    <p>Height: @user.Height cm</p>
    <p>Weight: @user.Weight kg</p>
    <p>Age: @user.Age years</p>


    <h3>Accessible Topics</h3>

@if (topics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var topic in topics)
        {
            <li>@topic.Title</li>
        }
    </ul>
}
}
else
{
    <p>>Please log in to see the details</P>
}

@code {
    private ApplicationUser? user;
    private List<Topic>? topics;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaimsPrincipal = authState.User;

        if (userClaimsPrincipal.Identity.IsAuthenticated)
        {
            var userId = userClaimsPrincipal.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            user = await UserManager.FindByIdAsync(userId);
        }

        topics = await TopicFriendService.GetAllAccessibleTopicsAsync();
    }
}