@page "/"
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using psk_fitness.Data
@using Microsoft.AspNetCore.Components.Authorization
@using psk_fitness.ClientServices
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ITopicFriendService TopicFriendService


<PageTitle>Home</PageTitle>

@if(user != null){
    <h1>Hello, @user?.UserName</h1>
    <p>Height: @user.Height cm</p>
    <p>Weight: @user.Weight kg</p>
    <p>Age: @user.Age years</p>
}

@code {
    private ApplicationUser? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaimsPrincipal = authState.User;

        if (userClaimsPrincipal.Identity.IsAuthenticated)
        {
            var userId = userClaimsPrincipal.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            user = await UserManager.FindByIdAsync(userId);
        }
    }
}
