@page "/topics"

<PageTitle>Topics</PageTitle>

<h3>Topics</h3>

<div class="container">
    <div class="row">
        @foreach (var item in Enumerable.Range(1, 12))
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>                    </div>
                </div>
            </div>
        }
    </div>
</div>



@code {

}
