@page "/topics"

<PageTitle>Topics</PageTitle>

<h3>Topics</h3>

<div class="d-flex flex-column">
    <div class="d-flex align-items-center">
        <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personal
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Personal</a></li>
                <li><a class="dropdown-item" href="#">Invited</a></li>
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTopicModal">
          New topic
        </button>

        <!-- Modal -->
        <div class="modal fade" id="newTopicModal" tabindex="-1" aria-labelledby="newTopicModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newTopicModalLabel">New topic</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="topicTitle" class="form-label">Title</label>
                                <input type="text" class="form-control" id="topicTitle" placeholder="Enter topic title">
                            </div>
                            <div class="mb-3">
                                <label for="topicDescription" class="form-label">Description</label>
                                <textarea class="form-control" id="topicDescription" rows="3" placeholder="Enter topic description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="topicColor" class="form-label">Color</label>
                                <div class="d-flex flex-wrap gap-2">
                                    @foreach (var color in PredefinedTopicColors) {                                        
                                        <button @onclick:preventDefault=true @onclick="HandleColorSelection" class="color-circle" style="background-color: @color"></button>
                                    }
                                </div>
                                <input type="hidden" id="topicColor" name="topicColor">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .color-circle {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid black;
                cursor: pointer;
            }
            

            .selected {
                border: 2px solid black;
            }
        </style>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Enumerable.Range(1, 12))
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://picsum.photos/200/140" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>                    </div>
                </div>
            </div>
        }
    </div>
</div>



@code {
    public List<String> PredefinedTopicColors {get; set;}
        = new(){"red", "green", "blue"};

    private void HandleColorSelection()
    {
        PredefinedTopicColors.Add("pink");
    }
}
