label {
    margin-top: 10px; /* Adjust the top margin as needed */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
    font-weight: bold; /* Makes the text bold */
}

.delete-button {
    color: #FFFFFF;
    background-color: #FF0000;
    border-color: #FF0000;
}

.close-button {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    color: #222222;
}

.edit-button {
    background-color: #FFA500;
    border-color: #FFA500;
    color: #222222;
}

#workout-type-div {
    width: 200px; /* Fixed width */
}

#workout-type-div .dropdown-toggle,
#workout-type-div .dropdown-menu {
    width: 200px; /* Fixed width for both the button and the menu */
}
