@page "/modal"

@{
    var workoutTypes = new List<string> { "Chest", "Back", "Calves" };
}


<div class="d-flex flex-column">
    <div class="d-flex align-items-center">

        <div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newTopicModalLabel">Your workput</h5>
                        <button type="button" @onclick="() => OnDeleteWorkout()"  class="btn delete-button">Delete</button>
                    </div>

                    <div class="modal-body">
                        <form>

                            <label for="workout-type-div" class="form-label">Workout type:</label>
                            <div id="wokout-type-div" class="dropdown me-2">
                                
                                <button id="workout-type" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @_singleDayWorkout.WorkoutType
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var workoutType in workoutTypes)
                                    {
                                        <li><button class="dropdown-item" type="button" @onclick="() => SelectWorkoutType(workoutType)">@workoutType</button></li>
                                    }
                                </ul>
                            </div>

                            <div class="time-picker">
                                <label for="startingTimeHours" class="form-label">Starting time:</label>
                                <div class="d-flex align-items-center">
                                    <input type="number" id="startingTimeHours" class="form-control" 
                                           style="width: auto;" placeholder="HH" min="0" max="23"
                                           @bind="_singleDayWorkout.WorkoutStartHour" @bind:event="oninput">

                                    <span class="mx-2">:</span>
                                    <input type="number" id="startingTimeMinutes" class="form-control" 
                                           style="width: auto;" placeholder="MM" min="0" max="59"
                                           @bind="_singleDayWorkout.WorkoutStartMinute" @bind:event="oninput">
                                </div>
                            </div>

                            <div class="time-picker">
                                <label for="endTimeHours" class="form-label">Starting time:</label>
                                <div class="d-flex align-items-center">
                                    <input type="number" id="endTimeHours" class="form-control" 
                                           style="width: auto;" placeholder="HH" min="0" max="23"
                                           @bind="_singleDayWorkout.WorkoutEndHour" @bind:event="oninput">
                                    
                                    <span class="mx-2">:</span>
                                    <input type="number" id="endTimeMinutes" class="form-control"
                                           style="width: auto;" placeholder="MM" min="0" max="59"
                                           @bind="_singleDayWorkout.WorkoutEndMinute" @bind:event="oninput">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="dayWorkoutNotes" class="form-label">Notes</label>
                                <textarea class="form-control" id="dayWorkoutNotes" rows="3" 
                                          placeholder="Enter notes" @bind="_singleDayWorkout.WorkoutNotes"></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" @onclick="() => OnSaveWorkout()" class="btn btn-primary">Create</button>
                        <button type="button" class="btn cancel-button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@code {

    private SingleDayWorkout _singleDayWorkout = new SingleDayWorkout();

    private void SelectWorkoutType(string workoutType)
    {
        _singleDayWorkout.WorkoutType = workoutType;
    }

    @inject IJSRuntime JSRuntime;

    public async Task OpenAsync(SingleDayWorkout singleDayWorkout)
    {
        _singleDayWorkout = singleDayWorkout;
        await JSRuntime.InvokeVoidAsync("openModal", "calendarModal");
        StateHasChanged();
    }

    public void OnDeleteWorkout()
    {
        Console.WriteLine("Delete");
    }

    public void OnSaveWorkout()
    {
        Console.WriteLine(_singleDayWorkout.WorkoutType);
        Console.WriteLine(_singleDayWorkout.WorkoutStartHour + ":" + _singleDayWorkout.WorkoutStartMinute);
        Console.WriteLine(_singleDayWorkout.WorkoutEndHour + ":" + _singleDayWorkout.WorkoutEndMinute);
        Console.WriteLine(_singleDayWorkout.WorkoutNotes);
    }



    public void Close()
    {

    }
}